/* TAILWIND DIRECTIVES, DO NOT DELETE OR REMOVE index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(10, 57, 95, 0.61) ;
    text-shadow: 4px 2px 14px rgba(25, 51, 222, 0.473);
}